<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahmoudahmed.caht">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".ui.Activities.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name=".ui.Activities.ForgotPassword"
            android:parentActivityName=".ui.Activities.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.Activities.Register"
            android:parentActivityName=".ui.Activities.Login"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.Activities.Chat"
            android:parentActivityName=".ui.Activities.MainActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="23493e8be3834d90715037227a8534cc4769f77b" />

        <activity
            android:name=".ui.Activities.Profile"
            android:label="Profile"
            android:parentActivityName=".ui.Activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".ui.Widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".ui.Widget.UnreadWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unreaded" />
        </receiver>


        <provider
            android:name=".data.DataProvider"
            android:authorities="com.example.pc.movies.ContactProvider"
            android:exported="true"
            android:multiprocess="true"

            />


    </application>

</manifest>